* {
  margin: 0;
  padding: 0;
}

:root {
  --MB-off-white: #F1FFF6;
  --MB-dark-mint: #24E5A3;
  --MB-light-mint: #5EF4D6;
  --MB-purple: #4143B1;
  --MB-black: #221727;
}

.about {
  background-color: var(--MB-purple);
}